{% extends "components/base.jinja" %}

{% block body %}

{# TASKPANE CDN #}
<script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js" type="text/javascript">
</script>

{# Thoc.JS #}
<script src="{{url_for('static', filename='js/thoc.js')}}"></script>

{# HTML #}
<div class="w-full h-[100vh] p-4 flex flex-col justify-between">

    <div class="mt-0 mb-auto text-center">
        <h1 class="text-3xl font-bold">
            Thoc 👍
        </h1>
        <p>
            Template helper OfficeConsult ☀️
        </p>
    </div>

    <div>
        <h1 class="text-2xl font-bold">
            Position 😎
        </h1>

        <div class="p-2 bg-blue-50 grid gap-2">
            <div class="flex">
                <p>
                    Top
                </p>
                <input id="shapePositionTopInput" class="mr-0 ml-auto" type="number" />
            </div>
            <div class="flex">
                <p>
                    Left
                </p>
                <input id="shapePositionLeftInput" class="mr-0 ml-auto" type="number" />
            </div>
            <div class="flex">
                <p>
                    Height
                </p>
                <input id="shapeSizeHeightInput" class="mr-0 ml-auto" type="number" />
            </div>
            <div class="flex">
                <p>
                    Width
                </p>
                <input id="shapeSizeWidthInput" class="mr-0 ml-auto" type="number" />
            </div>
        </div>
    </div>

    <div class="mb-0 mt-auto">
        <p id="setMessageDisplayElement">
        </p>
    </div>
</div>

{% endblock body %}