<script src="{{url_for('static', filename='js/modules/size-and-pos.js')}}"></script>

<div>
    <h1 class="text-2xl font-bold">
        Size and position 😎
    </h1>

    <div class="p-2 bg-blue-50 grid gap-2">
        <div class="flex">
            <p>
                Top
            </p>
            <input id="shapePositionTopInput" class="mr-0 ml-auto" type="text" />
        </div>
        <div class="flex">
            <p>
                Left
            </p>
            <input id="shapePositionLeftInput" class="mr-0 ml-auto" type="text" />
        </div>
        <div class="flex">
            <p>
                Height
            </p>
            <input id="shapeSizeHeightInput" class="mr-0 ml-auto" type="text" />
        </div>
        <div class="flex">
            <p>
                Width
            </p>
            <input id="shapeSizeWidthInput" class="mr-0 ml-auto" type="text" />
        </div>
    </div>
</div>